/*-----------------------------------DEFAULT--------------------------------------*/

*{font-family: 'Josefin Sans', sans-serif;
    
}
nav{
    display: block;
}
body{
    line-height: 1;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 1000px
}
@font-face{
    font-family:"";
    src: url("") format('embedded-opentype'),
    src: url("") format('opentype'),
}
/*-----------------------------------NAVBAR--------------------------------------*/
/*-----------------------------------Header--------------------------------------*/
header {
  position: relative;
    display: flex;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*-----------------------------------Header--------------------------------------*/
nav{
    max-width: 100%;
    min-width: 700px;
    height: 54px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    
}
nav ul{
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.3);*/
}
nav ul li{
    list-style: none;

    text-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
}
ul.topnav li{
    list-style: none;
    float: right;

}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 24px;
    text-align: center;
    padding: 14px;
    text-transform: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;

}
ul.topnav li a:hover{
    background-color: #fff; /*none*/
    color: black;
    text-underline-position: below;
    cursor: pointer;
    
}

ul.topnav li.leftnav{
    list-style: none;
    float: right;
}
ul.topnav li.leftnav a{
    display: block;
    text-decoration: none;
    min-height: 22px;
    text-align: center;
    padding: 14px;
    text-transform: none;
    color: white;
}
ul.topnav li.leftnav a:hover{
    background-color: #fff; /*none*/
    color: white;
    font-weight: 500;
    cursor: pointer;
    transform: scale(0);
    
}

ul.topnav li.home a{
    color: deepskyblue;
    
    
        
}
/*-----------------------------------NAVBAR--------------------------------------*/

/*-----------------------------------text--------------------------------------*/
h2.hi{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    background: transparent;
    text-align: center;
     font-family: 'Major Mono Display', monospace;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
}
h2{
    color: white;
    font-size: 80px;
    letter-spacing: 2px;
    background: transparent;
    text-align: center;
    /*font-family: 'Fredericka the Great', cursive;*/
    font-family: 'Major Mono Display', monospace;
    font-weight: 100;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
}
p{
    text-align: center;
    color: white;
}
p.paragraph{
    color: white;
   /* font-family: 'Lovers Quarrel', cursive;*/
    /*font-family: 'Raleway Dots', cursive;*/
    width: 100%;
    line-height: 22px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Nixie One', cursive;*/
    font-weight: 100;
    padding: 2px;
    margin: 0 0 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 3px rgba(0,0,0,0.3);

}
p.paragraph1{

    color: white;
   /* font-family: 'Lovers Quarrel', cursive;*/
    /*font-family: 'Raleway Dots', cursive;*/
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Nixie One', cursive;*/
    font-weight: 100;
    padding: 0;
    margin: 0 0 0;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 3px rgba(0,0,0,0.3);

}



/*-----------------------------------text--------------------------------------*/
/*-----------------------------------BODY--------------------------------------*/

body{
    
}

/*--------------------------------Ring--------------------------------*/
.ring{
position: absolute;
    
    left: 47%;
    transform: translate(-50%.-50%);
    width: 120px;
    height: 120px;
    background: transparent;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 125px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
}

.ring:before{
    content: '';
    position: absolute;
    top:-1px;
    left: -3px;
    width:100%;
    height: 100%;
    border-radius: 3px transparent;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 50%;
    animation: animateCircle 2s linear infinite;
}
/*span{
    display: block;
    position: absolute;
    left: 50%;
    height: 4px;
    background: #fff;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

span:before{
     content: '';
    position: absolute;
    width:16px;
    height:16px;
    border-radius: 50%;
    background: #fff;
    top:-6px;
    right: -8px;
    box-shadow: 0 0 20px #fff;
    
}*/


@keyframes animateCircle
{
    0%
    {
        transform: rotate(0deg);
    }   
    100%
    {
         transform: rotate(360deg);
    }  
}


@keyframes animate
{
    0%
    {
        transform: rotate(45deg);
    }   
    100%
    {
         transform: rotate(405deg);
    }  
}

/*-----------------------------------ring--------------------------------------*/
/*-----------------------------------pleasewait--------------------------------------*/
.pleasewait{
    
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    font-weight: 300px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
}




/*-----------------------------------pleasewait--------------------------------------*/

.container{
    width:100%;
    height:400px;
    display: flex;
    
    
}
.column{
    margin: 0;
   /* box-shadow: 0 1px 3px rgba(0,0,0,0.3),0 1px 2px rgba(0,0,0,0.3);*/
    background: ;
    border-radius: 2px;
    width:100%;
    height:200px;
    flex-basis: 50%;
}
.card{
    padding: 15px 25px;
 
}

}
.card{
    flex-basis: 50%
}

/*-----------------------------------FOOTER--------------------------------------*/


 
   footer{
    display: flex;
    background:black;
    background-position: center center;
    width: 100%;
    height: 54px;
    margin: 0;
    padding:0;
    bottom: 0px;
    left: 0px;
    position: relative;

}
footer:hover{
    background-color:none;
    color: white;
    
}
h3{ width: 100%;
    color: azure;
    text-align: center;
    font-size: 20px;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-weight: 100;
    padding: 20px;
    margin: 0 0 0;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.1);
}

/*-----------------------------------FOOTER--------------------------------------*/
